<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<string>Young mom.jpg</string>
		<string>Mom and Dad Honeymoon.jpg</string>
		<string>Little Joey and Michele.jpg</string>
		<string>In the snow.jpg</string>
		<string>Baby Joe and Michele.jpg</string>
		<string>The whole Drago family.jpg</string>
		<string>Popop and Joey.jpg</string>
		<string>Momom and Popop with Joey.jpg</string>
		<string>Dragos.jpg</string>
		<string>Popop, Dad and Joey.jpg</string>
		<string>Dad and Joey.jpg</string>
		<string>Baby Joey.jpg</string>
		<string>Lenny and Annie.jpg</string>
		<string>Mom, Dad and Annie with the cake.JPG</string>
		<string>After the wedding.JPG</string>
		<string>Aunt Mary, Joey and Michele.JPG</string>
		<string>Aunt Mary.JPG</string>
	</array>
</dict>
</plist>
